.accordian {
  width: 100%
}

.btn {
  width: 100%
}

.btn:hover {
  text-decoration: none;
}

.emoji {
  text-align: center;
  font-size: 192px;
}

.list-group-horizontal {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rock {
  from {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .🤔 {
    animation: spin infinite 1s linear;
  }
  .🤣 {
    animation: rock infinite 2s linear;
  }
}
